@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  background: whitesmoke !important;
  font-size: 10px;
}
.log {
  margin-left: auto;
}

form[role="search"] {
  max-width: 300px;
  width: 100%;
  color: #2deb2d;
}

.log a.nav-link:nth-child(3) {
    color: #2deb2d !important;
  }