body {
    height: 100vh;
    margin: 15px;
}


.navbarObj {
    width: 100%;
    height: auto;
}

.footerObj {
    width: 100%;
    height: 100vh;
}

.contenedor{
    overflow: visible;
}
.arte{
    background-image: url(https://res.cloudinary.com/dtmapxnao/image/upload/v1701191550/fondo-acuarela-pintada-mano-forma-cielo-nubes_zw33rj.jpg);
    background-size: cover;
    padding: 60px 0;
}

.arte .contenedor{
    overflow: hidden;
}

.arte .contenedor .titulo{
    font-family: 'Great Vibes', bold;
    font-size: 50px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 400;
    color: #323068;
    text-align: center;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.arte .contenedor-arte{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Estilos para la imagen */
img{
    max-width: 75%;
    height: auto;
}

/* Estilos para el nombre del producto con diferentes colores */
.precio{
    color: #2deb2d;
}
.nombre{
    font-size: 25px;
    color: #3a8f3a;
}

/* Estilos para el contenedor de las tarjetas */
.tarjetas-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between; /* Espaciado uniforme entre las tarjetas */
}
