body {
    height: 100vh;
    margin: 15px;
}


.navbarObj {
    width: 100%;
    height: auto;
}

.footerObj {
    width: 100%;
    height: 100vh;
}
.filtro{
    display: flex !important;
    align-items: left !important;
}

/* Estilos generales de la tarjeta */
.dibujo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Estilos para la imagen */
img{
    max-width: 75%;
    height: auto;
}

/* Estilos para el nombre del producto con diferentes colores */
.precio{
    color: #2deb2d;
}
.nombre{
    font-size: 25px;
    color: #3a8f3a;
}

/* Estilos para el contenedor de las tarjetas */
.tarjetas-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between; /* Espaciado uniforme entre las tarjetas */
}
